.form-group label
{
    color:gray;
    font-family: Roboto;
}
.form-group input[type="text"],.form-group input[type="number"],.form-group input[type="email"],.form-group input[type="date"]{
    width:300px;
    border-radius: 5px;
    padding: 14px;
}
.form-group select
{
    width:300px;
    padding: 14px;
    border-radius: 5px;
}
.form-group select:focus
{
    padding: 14px;
	width:500px;
}
	
.form-group input[type="text"]:focus,.form-group input[type="number"]:focus,.form-group input[type="email"]:focus,.form-group input[type="date"]:focus{
    width:500px;
    padding: 14px;
}
.submit button
{
	width:100px;
	background:#e91e63;
	color:#fff;
	border:none;
	cursor:pointer;
	padding:10px;
	margin-top:20px;
    font-size:18px;
    border-radius: 10px;
}